@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap');

/*font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;*/

.home{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.home .box{
    text-align: center;
    backdrop-filter: blur 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background-color:#5375e72b;
    height: 90%;
    margin: 20px 80px;
    margin-top: 120px;
    border: 0px solid ;
    border-radius: 10px;

}

.leftcontent{
    float: left;
    align-items: left;
    text-align: left;
    font-family:'Jost', sans-serif;
    font-size: 45px;
    margin-top: 100px;
    margin-left: 80px;
}

.subhead h1{
    color: white;
    border-radius: 25px;
    padding: 8px 25px;
    font-size: 15px;
    background-color: rgb(1, 1, 95);
    font-weight: 500;
    width: 250px;
}

.subhead h2{
    
    color: rgb(1, 1, 95);
    border-radius: 20px;
    padding: 6px 25px;
    font-size: 20px;
    background-color: white;
}

.leftcontent p{
    margin: 30px 0;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}



.leftcontent h2{
    
    color: rgb(1, 1, 95);
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-bottom: 50px;
}

.leftcontent .smallheading, .mainheading{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.smallheading{
    gap: 65px;
    margin-top: 0;
    color: rgb(120, 120, 120)!important;
}

.mainheading{
    gap: 25px;
    margin-top: -50;
    font-weight: 600;
    font-size: 40px;
}
.mainheading h1{
    margin: 33px;

}
.rightcontent{
    float: right;
    margin-top: 100px;
    margin-right: 80px;
}

.frame{
    width: 600px;
    height: 850px;

}

.frame img{
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.pictures img{
    height:67px;
    width: 75px;
    border-radius: 13px;
    margin-top: -100px;

}

.pictures .one{
    margin-top: -100px;
}
.containers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card {
    
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background-color: #5375e72b;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: all 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-10px);
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

   
  }

  .card-content h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
  }

  .card-content p {
    font-family:'Jost', sans-serif;
    font-size: 20px;
    color: black;
  }

  /* #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .container_com {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    margin-top: 100px;
  }
  .container_com .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container_com:hover .box {
    transform: rotateY(25deg);
  }
  .container_com .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container_com .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container_com .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container_com .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#f00,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container_com .box:hover .imgBx:before {
    opacity: 1;
  }
  .container_com .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container_com .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container_com .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container_com .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container_com .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container_com .box:hover .content p {
    transform: translateY(0px);
  }

  /* faq section */
  @import url(https://fonts.googleapis.com/css?family=Raleway);


.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
  font-family: 'Jost';
  margin-top: 100px;
}

.faq-content {
  margin: 0 auto;
  font-family: 'Montserrat';
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
  font-size: 20px;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
  
  font-size: 20px;
}
 
.faq-question input{
    display: none;
}

.faq-question .plus{
    margin-left: 10px;

}